Source: ros-jade-household-objects-database-msgs
Section: misc
Priority: extra
Maintainer: Matei Ciocarlie <matei@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation, ros-jade-object-recognition-msgs, ros-jade-shape-msgs, ros-jade-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-household-objects-database-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-message-generation, ros-jade-message-runtime, ros-jade-object-recognition-msgs, ros-jade-shape-msgs, ros-jade-std-msgs
Description: The household_objects_database_msgs package
